/* Everything that is global comes in here */
:root {
  /* margin */
  --margin-10percent: 10%;
  --margin-35px: 35px;
  --margin-15px: 15px;

  /* padding */
  --padding-15px: 15px;

  /* -sizes */
  --header-height: 100px;
  --footer-height: 250px;
  --scrollbar-width: 10px;
  --h1-size-header: clamp(18px, 14.5217px + 1.087vw, 28px);
  --h2-size-footer: clamp(16px, 12.5217px + 1.087vw, 26px);
  --a-size-footer: clamp(10px, 8.6087px + 0.4348vw, 14px);
  --span-size-footer: clamp(9px, 7.9565px + 0.3261vw, 12px);
  --span-size-headline-card: clamp(17px, 14.913px + 0.6522vw, 23px);
  --span-size-12-16: clamp(12px, 10.6087px + 0.4348vw, 16px);
  --span-size-14-18: clamp(14px, 12.6087px + 0.4348vw, 18px);
  --span-size-20-30: clamp(20px, 16.5217px + 1.087vw, 30px);
  --p-size-11-14: clamp(0.6875rem, 0.6223rem + 0.3261vw, 0.875rem);
  --sozial-media-icons-height-footer: clamp(40px, 34.7826px + 1.6304vw, 55px);
  --sozial-media-icons-width-footer: clamp(40px, 34.7826px + 1.6304vw, 55px);
  --header-logo: clamp(35px, 22.8261px + 3.8043vw, 70px);
  --header-logo-name: clamp(110px, 61.3043px + 15.2174vw, 250px);

  /* color */
  --footer-gray: #1f1f1f;
  --light-gray: #e8e8e8;
  --secondary: #ffcc03;
  --secondary-hover: #f9dc68;
  --blue: #4db5e6;

  /* shadow */
  --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  --box-shadow-big: 0px 0px 5px 11px rgba(0, 0, 0, 0.2);

  /* border */
  --border-radius-16px: 16px;
  --border-radius-10px: 10px;
  --border-black: 1px solid black;
}

/* Responsive Breakpoints!!
Smartphones	320 - 480
Tablets	481 - 768
Laptops	769 - 1024
Desktops	1025 - 1440
Große Screens	1441+ */
