.show-more-btn-container {
  margin-top: 15px;
  margin-bottom: 15px;
  justify-self: center;
  display: none;
}

.show-more-btn {
  display: flex;
  cursor: pointer;
  background-color: var(--secondary);
  border-radius: 5px;
  border: none;
  padding: 15px;
  border: var(--border-black);
  font-size: var(--span-size-headline-card);
}

.show-more-btn:hover {
  background-color: var(--secondary-hover);
}

.loading-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-could-not-loaded-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 25%;
}

.data-could-not-be-loaded {
  font-size: var(--span-size-20-30);
}

.loading-overlay {
  z-index: 998;
  display: none;
  position: fixed;
  border-radius: var(--border-radius-16px);
  top: 0;
  left: 0;
  right: 0;
  height: 100dvh;
  width: 100%;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(6px);
}

.loading-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--secondary);
  border-radius: 5px;
  padding: 15px;
  border: var(--border-black);
  font-size: var(--span-size-headline-card);
}

.dot {
  background-image: url('../assets/icons/Poké-Ball-icon.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 70px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  animation: dots 1.5s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.5s;
}

.dot:nth-child(3) {
  animation-delay: 1s;
}

@keyframes dots {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
