.card-overlay-full-screen {
  z-index: 2;
  display: none;
  position: fixed;
  border-radius: var(--border-radius-16px);
  top: 0;
  left: 0;
  right: 0;
  height: 100dvh;
  width: 100%;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(6px);
}

.card-container-full-screen {
  display: flex;
  justify-content: center;
  overflow: auto;
  margin-inline: 70px;
  position: relative;
  height: 90%;
  width: 85%;
  max-width: 1175px;

  border: var(--border-black);
  background-color: white;
  border-radius: var(--border-radius-16px);
  box-shadow: var(--box-shadow-big);
}

.close-btn {
  border-radius: var(--border-radius-10px);
  padding: 4px;
  background-color: var(--secondary);
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  border: var(--border-black);
}

.close-btn:hover {
  background-color: var(--secondary-hover);
}

.close-btn img {
  width: 100%;
}

.content-full-screen {
  position: relative;
  display: grid;
  grid-template-rows: 90px 1fr 90px;
  grid-template-areas:
    'headline-container'
    'information-container'
    'btn-container';
  width: 100%;
}

.headline-container-full-screen {
  height: 90px;
  grid-area: headline-container;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--padding-15px);
}

.headline-number-full-screen,
.headline-name-full-screen span {
  font-size: var(--span-size-20-30);
}

.headline-name-full-screen {
  display: flex;
  align-items: center;
  gap: 10px;
}

.img-full-screen {
  background-color: var(--light-gray);
  width: 415px;
  aspect-ratio: 1 / 1;
}

.img-full-screen img {
  width: 100%;
}

.information-container {
  grid-area: information-container;
  background-color: var(--light-gray);
  padding-inline: var(--padding-15px);
  /* position: relative; */
  display: grid;
  grid-template-columns: 45% 50%;
  column-gap: 5%;
  grid-template-rows: 100%;
  grid-template-areas:
    'img-container right-container'
    'img-container right-container';
  width: 100%;
}

.information-right-content {
  grid-area: right-container;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  gap: 35px;
}

.information-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.information-img-container img {
  display: block;
  object-fit: contain;
  width: 100%;
}

.gif-container {
  display: flex;
  justify-content: center;
}

.characteristics-container-overlay {
  height: 130px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.characteristics {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.characteristics span {
  font-size: var(--span-size-14-18);
}

.characteristics-type-container,
.weaknesses-type-container {
  display: flex;
  gap: 10px;
  flex-grow: 1;
}

.information-text {
  height: 100px;
  display: flex;
}

.information-text span {
  font-size: var(--span-size-14-18);
}

.information-table {
  grid-area: table-container;
  background-color: var(--blue);
  padding: 20px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  color: black;
  font-size: var(--span-size-14-18);
}

th {
  font-weight: bold;
}

.btn-container {
  grid-area: btn-container;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: var(--light-gray);
  padding-bottom: var(--padding-15px);
  padding-top: var(--padding-15px);
}

.btn-content-left,
.btn-content-right {
  width: 80px;
}

.btn-left,
.btn-right {
  font-size: var(--span-size-12-16);
  border-radius: var(--border-radius-10px);
  background-color: var(--secondary);
  cursor: pointer;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-left:hover,
.btn-right:hover {
  background-color: var(--secondary-hover);
}

.btn-left img,
.btn-right img {
  object-fit: cover;
  aspect-ratio: 2/1;
  width: 100%;
}

.btn-right {
  transform: rotate(180deg);
}

@media screen and (max-width: 992px) {
  .card-container-full-screen {
    margin-inline: 0;
    position: relative;
    height: 100%;
    width: unset;

    border: unset;
    background-color: white;
    border-radius: unset;
    box-shadow: unset;
  }
}

@media screen and (max-width: 680px) {
  .close-btn {
    width: 40px;
  }

  .btn-content-left,
  .btn-content-right {
    width: 65px;
  }

  .characteristics {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {
  .content-full-screen {
    grid-template-rows: 90px 90px 1fr;
    grid-template-areas:
      'headline-container'
      'btn-container'
      'information-container';
  }
  .information-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }

  .information-img-container {
    margin-top: 25px;
    height: unset;
    width: 50%;
  }

  .characteristics-container-overlay {
    justify-content: center;
  }

  .information-right-content {
    gap: 25px;
    height: unset;
  }

  .gif-container {
    position: absolute;
    top: 190px;
    right: 5px;
  }

  .information-table {
    margin-bottom: 25px;
  }
}
