.single-card {
  background-color: var(--secondary);
  border-radius: var(--border-radius-10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  border: var(--border-black);
  min-width: 240px;
}

.headline-card {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}

.headline-card span {
  font-size: var(--span-size-headline-card);
}

.text-wrap {
  display: block;
  flex-grow: 1;
  text-align: center;
  hyphens: auto;
}

.img-card {
  min-height: 345px;
  position: relative;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.img-card img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: transform 0.4s ease, filter 0.3s ease;
}

.img-card:hover img {
  transform: scale(1.3) translateY(-10px);
  filter: drop-shadow(10px 20px rgba(0, 0, 0, 0.3));
}

.characteristics-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
  /* gap: 6px; */
}

.type-one,
.type-two {
  margin-inline: 6px;
  text-align: center;
  font-size: var(--span-size-12-16);
  padding: 12px;
  /* background-color: aqua;# */
  width: 50%;
  border-radius: var(--border-radius-10px);
}
