* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'Autour One';
}

body {
  width: 100%;
  display: grid;
  grid-template-rows: var(--header-height) minmax(250px, 1fr) var(--footer-height);
  grid-template-areas:
    'header'
    'main'
    'footer';
  min-height: 100dvh;
  position: relative;
}

.d-col {
  display: flex;
  flex-direction: column;
}

.d-flex-jc-center {
  display: flex;
  justify-content: center;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.padding-bottom-50px {
  padding-bottom: 55px;
}

.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.padding-right {
  padding-right: var(--scrollbar-width);
}

/* width */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
  cursor: grab;
}

::-webkit-scrollbar-thumb:active {
  background: var(--secondary);
  cursor: grabbing;
}
